[Unit]
Description=LCEC Auto Start Service

[Service]
User=cnc
ExecStart=sudo bash /home/cnc/scripts/start-ec.sh
Restart=always

[Install]
WantedBy=multi-user.target
