[Unit]
Description=LC Auto Start Service
# After=start-ec.service

[Service]
User=cnc
# ExecStart=/usr/bin/linuxcnc '/home/cnc/linuxcnc/configs/ethercatqt/ethercatqt.ini'
ExecStart=/usr/bin/linuxcnc
# Restart=always

[Install]
WantedBy=graphical.target
