[Unit]
Description=LC Auto Start Service
After=start-ec.service

[Service]
User=cnc
ExecStart=/usr/bin/linuxcnc '/home/cnc/linuxcnc/configs/ethercatqt/ethercatqt.ini'

[Install]
WantedBy=multi-user.target
